{% extends "base.html" %}

{% block title %}列表{% endblock %}

{% block page_content %}
{% for post in xqpoint %}
<form role="form" action="{{  url_for('edit',city_id=3)  }} " method="post">
  <div class="form-group">
    <label for="name">名称</label>
    <input type="text" class="form-control" id='name' name='name' value="{{  post.NAME }}">
  </div>
  <div class="form-group">
    <label for="pyname">英文</label>
    <input type="text" class="form-control" id='pyname' name='pyname' value="{{  post.PYNAME }}">
  </div>
  <div class="form-group">
    <label for="type">类型</label>
    <input type="text" class="form-control" id='type' name='type' value="{{  post.geom.type }}">
  </div>
  <div class="form-group">
    <label for="longtitude">经度</label>
    <input type="text" class="form-control" id='longtitude' name='longtitude' value="{{  post.geom.coordinates[0] }}">
  </div>
  <div class="form-group">
    <label for="latitude">纬度</label>
    <input type="text" class="form-control" id='latitude' name='latitude' value="{{  post.geom.coordinates[1] }}">
  </div>
    <button type="submit" class="btn btn-success pull-right">提交</button>
</form>
{% endfor %}
<!--<div class="panel panel-default">-->
    <!--{% for post in xqpoint %}-->
  <!--<div class="panel-heading">-->
    <!--<h3 class="panel-title">{{  post.CNTYPT_ }}. {{  post.NAME }}</h3>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
    <!--坐标: {{  post.geom.coordinates[0] }},{{  post.geom.coordinates[1] }}-->
  <!--</div>-->
    <!--{% endfor %}-->
<!--</div>-->


{% endblock %}

